@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

.app {
  background-color: #8cd0e5;
  font-family: "Balsamiq Sans", cursive;
}

button {
  width: 80%;
  margin-bottom: 10px;
}

input {
  border-radius: 10px;
}
input:focus {
  outline: none;
}
